<h1 class='cursive'>{{user_profile.username | capitalize}}'s Profile</h1>
<img class='profile_pic' height=250 width=240 src='{{user_profile.pic_0}}' />
<p class='cursive_show_page'>All about {{user_profile.username | capitalize}}...</p>
<div class='user_info_div'>
  <p class='cursive'>Age: <span am-time-ago='user_profile.birthdate'></span></p>
  <p class='cursive'>Gender: {{user_profile.gender}}</p>
  <p class='cursive'>Location: {{user_profile.location}}</p>
  <p class='cursive'>Breed: {{user_profile.breed}}</p>
  <p class='cursive'></p>
</div>
<div class='profile_photo_array'>
  <p class='photo_array_text'>Click to expand</p>
  <!-- <h1>{{profile_photo}}</h1> -->
  <img ng-repeat='profile_photo in profile_photo_array track by $index' class='array_photo' ng-click='expandPhoto(profile_photo)' height=200 width=165 src='{{profile_photo}}' />
</div>
<div class='featured_photo_div'>
  <img class='featured_photo' src='{{featured_photo}}' />
</div>
<div class='form-group profile_pic_form'>
<h2 class='cursive'>All About {{user_profile.username | capitalize}}:</h2>
  <p class='cursive'>{{user_profile.about_me}}</p>
</div>
